.channel-list{
    display: flex;
    flex-wrap: wrap; 
    gap: 2rem;      
    justify-content: center; 
    align-items: center;   
    width: calc(100% - 150px);
    max-width: 1300px;
}

.channel-list:last-child {
    justify-self: flex-start; 
}

@media screen and (max-width: 768px){
.channel-list{
    gap: 0;
    width: calc(100% - 100px);
 
}
}
@media screen and (max-width: 480px){
    .channel-list{
        gap: 0;
        width: calc(100% - 30px);
     
    }
    }