.mediaplayer-container{
    position: fixed !important;
    bottom: 0;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(15, 15, 15, 0.8);
    width: 100%;

    h2{
        font-size: 24px;
        text-align: left;
        font-weight: 400;
        margin-right: 30px;
    }
    span{
        font-size: 28px;
        margin-right: 5px;
        cursor: pointer;
    }

    span:hover{
        color: #ebebeb;
    }
    .close{
        position: absolute;
        top: 9px;
        right: 0;
        font-size: 18px;
        color: black;
    } 
    input[type="range"] {
        background-color: #5a5a5a; 
        color: #ccc; 
        border-radius: 5px;
        height: 4px; 
        cursor: pointer;
        outline: none;
        align-self: center;
        width: 75px;
        margin: 0 6px;      
        appearance: none;
    }
    
    input[type="range"]::-webkit-slider-runnable-track {
        background-image: linear-gradient(to right, #ccc 0%, #ccc var(--value, 0%), #353535 var(--value, 0%),#272727 100%);
        border-radius: 2px;   
        height: 4px;      
      }
      
      input[type="range"]:hover::-webkit-slider-runnable-track {
        background-image: linear-gradient(to right, #ccc 0%, #ccc var(--value, 0%), #353535  var(--value, 0%), #272727 100%);
        border-radius: 2px;
        height: 4px;      
      }  
    
    input[type="range"]::-webkit-slider-thumb {    
        appearance: none;
        width: 12px;
        height: 12px;
        transform: translateY(-4px);
        align-self: center;
        background-color: #ebebeb;
        
        border: 1px solid #ccc; 
        border-radius: 50%;
        cursor: pointer;    
      }
    
    input[type="range"]:hover::-webkit-slider-thumb {
        background-color:#ebebeb;
    }
}

.mediaplayer-container:hover > .close{
    color: #ccc;
}

.mediaplayer-container:hover > .close:hover{
    border: 1px solid #ccc;
      background-color: #ccc;
      border-radius: 5px;
      color: black;
}